.PerfilImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-top-right-radius: 10px;
    z-index: 1;
    padding: 6px 6px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;

    &.baixoDireta {
        top: 6px !important;
        left: 6px !important;
    }

    &.min {
        bottom: calc(50% - 90px);
        left: calc(50% - 90px);
        padding: 3px;
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }

    .imgPerfilImage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

        &.min {
            border-radius: 100%;
        }
    }
}