.StatusCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    padding: 12px;
}

.Load {
    animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}