* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.PageSize {
    width: 100vw;
    padding: 0px 12px 12px 362px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    background-color: #151515;

    .b {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        min-width: 35px;
        max-width: calc((100% - 36px) / 4);
        width: 100%;
        min-height: 35px;
        max-height: 35px;
        padding: 7px 8px;
        gap: 10px;
        border-radius: 10px;
        transition: 0.3s;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #898989;
        font-size: 15px;
        font-weight: 500;
        line-height: 19px;
        overflow: hidden;
        border: 1px solid #393939bc;
        position: relative;
        cursor: pointer;

        > img {
            opacity: 0.3;
            height: 18px;
        }
            
        


        &.cem { 
            min-width: none; 
            max-width: none;
        }
        &.min { 
            width: auto; 
            max-width: 35px; 
            padding: 6px;
            justify-content: center;
        }
        .auto {
            max-width: auto;
            width: 100px;
        }
        &.mostrando { 
            background-color: #7D4CBB; 
            border: none; 
        }
        &:hover { 
            color: #D9D9D9; 
            > img {opacity: 1;}
        }
        &.selecionado { 
            background-color: #8A55CD; 
            border: none; 
            color: #C5C5C5;
            > img {opacity: 1;}
        }
        &.h4 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #898989;
            font-size: 15px;
            font-weight: 450;
            line-height: 19px;
        }
        &.green {
            background-color: #43c13c7f;
            border: solid 2px #43c13c;
            color: #e0e0e0;
        }
        &.red {
            background-color: #c13c3c82;
            border: solid 2px #c13c3c;
            color: #e0e0e0;
        }
        &.transparente {
            background-color: rgba(255, 0, 0, 0);
            border-radius: 0px;
            border: none;
        }
        &.amarelo {
            background-color: rgba(255, 186, 83, 0.529);
            border: solid 2px rgb(255, 186, 83);
            color: #e0e0e0;
        }
        &.ContLight {
            color: #D9D9D9; 
            > img {opacity: 1;}
        }
    }
}



.cor0 {
    background-color: #151515;
}
.cor1 {
    background-color: #1F1F1F;
    &.selecionado { background-color: #8A55CD; }
}
.cor2 {
    background-color: #242424;
    &.selecionado { background-color: #7D4CBB; }
}
.cor3 {
    background-color: #313131;
    &.selecionado { background-color: #8A55CD; }
}
.cor4 {
    background-color: #8A55CD;
}
.border {
    border: 1px solid #2c2c2c74;
    .selecionado { border: 1px solid #43c13c; }
}
.border2 {
    border: solid 2px rgba(56, 56, 56, 0.233);
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b8b8b8;
    font-size: 15px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #acacac;
    font-size: 15px;
    font-weight: 600;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #767676;
    font-size: 15px;
    font-weight: 450;
    line-height: 20px;
}
img {
    height: 100%;
    transition: 0.3s;
    &.fundo {width: 100%; aspect-ratio: 16 / 9;}
    &.meio { position: absolute;}
    &.icon { max-width: 35px; max-height: 35px; &:hover {transform: scale(1.1);} cursor: pointer;}
    &.vinte {height: 20%; &:hover {transform: scale(1.1);} cursor: pointer;}
}
video {
    height: 100%;
}
textarea {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    resize: none;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #898989;
    font-size: 15px;
    font-weight: 450;
    line-height: 19px;
    outline: none;
    border-radius: 10px;
}
input, select {
    width: 100%;
    min-height: 35px;
    max-height: 35px;
    padding: 0px 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #898989;
    font-size: 15px;
    font-weight: 450;
    line-height: 19px;
    outline: none;
    border-radius: 10px;

}




::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
  
::-webkit-scrollbar-track {
    width: 0px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb { 
    width: 0px;
    background-color: transparent;
}



.linha {
    width: 5px;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(44, 44, 44);
}

.deg90 {
    transform: rotate(90deg);
}

.deg180 {
    transform: rotate(180deg);
}
.null {
    opacity: 0;
}
.marginTop {margin-top: 12px;}
.marginBottom {margin-bottom: 12px;}







.Info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    gap: 10px;
}
.Card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: calc((100% / 3) - 8px);
    max-width: calc((100% / 3) - 8px);
    min-height: 300px;
    max-height: 680px;
    border-radius: 10px;
    padding: 6px 6px 0px 6px;
    position: relative;
    gap: 10px;
    &:hover > .Desc > .DescCard { min-height: 196px;}
    &:hover > .Img > .Escuro > h3 {bottom: 6px;}
    &.min {min-width: calc((100% - 36px) / 4); max-width: calc((100% - 36px) / 4);}
    &.minH {min-height: auto;}
    &.cem {max-width: none; min-width: none; width: 100%;}
    &.normalPadding {padding: 6px;}
    &:hover > button{opacity: 1;}
    
    .Desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 248px;
        gap: 10px;
        overflow: hidden;
        transition: 0.3s;
    }
    .Img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 284px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        position: relative;
    }
    .CardCont {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 550px;
        gap: 10px;
    }
}
.InfoFundo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}
.Title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 35px;
    max-height: 35px;
    border-radius: 10px;
    padding: 12px;
}
.DescCard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 230px;
    max-height: 230px;
    padding: 12px 12px 12px 17px;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    &.fix { 
        min-height: 238px; 
        max-height: 238px; 
        height: 100%;
    }
}
.Escuro {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 12px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    > h3 {
        position: absolute; 
        padding: 7px 12px;
        border-radius: 10px;
        left: 12px;
        bottom: -25px;
        background-color: #242424;
        transition: 0.3s;
        cursor: pointer;
    }
    &:hover > h3 {bottom: 6px;}
}
.SectionItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    &.autoH {height: auto; }
}
.CardSelecionavel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    aspect-ratio: 16 / 5;
    position: relative;
    overflow: hidden;
}
.SectionButtons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    gap: 10px;
    min-height: 59px;
    max-height: 59px;
    padding: 12px 0px;
    z-index: 1;
    position: relative;
    background-color: #151515;
    &.default { padding: 0; background-color: rgba(255, 0, 0, 0); max-height: 35px; min-height: 35px;}
}
.SectionCards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.Buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    padding: 6px;
    border-radius: 10px;
    position: absolute;
    border: #383838 solid 1px;
    left: 0;
    top: 59px;
    z-index: 1;
    gap: 10px;
}
.Video {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 650px;
    padding: 6px;
    border-radius: 10px;

    .FundoVideo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        background-color: black;
    }
}
.Info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.CardPerfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    gap: 10px;

    .CardPerfilImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
    }
    .CardPerfilCont {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        min-height: 35px;
        border-radius: 10px;
    }
}







.FundoEscuro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px); 
    z-index: 5;
    gap: 10px;
}
.EnviarRespostas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: calc((100% - 388px) / 3);
    max-width: calc((100% - 388px) / 3);
    padding: 6px;
    border-radius: 10px;
    gap: 10px;
}



.invisible {
    opacity: 0;
    transition: 0.3s;
    &.visible {opacity: 1;}
}













@media screen and (max-width: 1720px) {
    .PageSize {
        padding: 0px 12px 12px 232px;
    }
    .BarraLateral {
        max-width: 220px;
    }
}
@media screen and (max-width: 1520px) {
    .PageSize {
        padding: 0px 12px 12px 62px;
    }
    .BarraLateral {
        max-width: 50px;

        button {
            font-size: 0px;
        }
    }
}
@media screen and (max-width: 1320px) {
    .InfoLicoes {
        flex-direction: column-reverse !important;

        .CardAtividadeLicoes {
            min-width: 100% !important;
            max-width: 100% !important;
            position: relative !important;
            margin-bottom: 15px;
            margin-top: -15px;
            .Card {
                flex-direction: row;
                .Desc {
                    height: 292px;
                }
                .DescCard {
                    min-height: 240px;
                    max-height: 240px;
                }
            }
        }
    }
    .Card {
        min-width: calc((100% / 2) - 5px);
        max-width: calc((100% / 2) - 5px);
        &.min {min-width: calc((100% - 36px) / 3); max-width: calc((100% - 36px) / 3);}
    }
    button {
        max-width: auto;
        width: auto;
    }
}
@media screen and (max-width: 1290px) {
    .Video {
        height: auto;
        aspect-ratio: 16 / 9;
    }
}
@media screen and (max-width: 1170px) {
    .Info {
        flex-direction: column;
        height: auto;
    }
    .Card {
        &.min {
            position: absolute;
        }
    }
}
@media screen and (max-width: 992px) {
    button {
        font-size: 0px !important;
        justify-content: center !important;

        img {
            margin-left: 10px;
        }
    }
    .PageSize {
        padding: 0px 12px 62px 12px;
    }
    .BarraLateral {
        min-width: 100% !important;
        min-height: 50px;
        max-height: 50px;
        top: calc(100% - 50px) !important;
        flex-direction: row !important;
        justify-content: center !important;

        .ButtonSections {
            max-width: 35px;
        }
        .Atividades {
            max-width: 35px;
            max-height: 35px;
        }
    }
    button {
        max-width: 100% !important;
    }
    .Escuro > h3 {
        bottom: 6px;
    }
    .Card { 
        .Desc {
            .DescCard {
                min-height: 195px;
                max-height: 195px;
                &.fix { 
                    min-height: 238px; 
                    max-height: 238px; 
                    height: 100%;
                }
            }
        }
        &.conts {
            flex-direction: row;
            min-width: 100%;
            max-width: 100%;
    
            .Desc {
                height: 292px;
                .DescCard {
                    min-height: 240px;
                    max-height: 240px;
                }
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .Card { 
        .Desc {
            .DescCard {
                min-height: 195px;
                max-height: 195px;
                &.fix { 
                    min-height: 238px; 
                    max-height: 238px; 
                    height: 100%;
                }
            }
        }
        &.conts {
            flex-direction: column;
            min-width: 100%;
            max-width: 100%;
    
            .Desc {
                height: 292px;
                .DescCard {
                    min-height: 240px;
                    max-height: 240px;
                }
            }
        }
    }
}
@media screen and (max-width: 570px) {
    .InfoFundo {
        aspect-ratio: 16 / 9;
        height: auto;
        min-height: auto;
        max-height: auto;
    }
    .StatusCard {
        aspect-ratio: 16 / 9;
        height: auto !important;
    }
    .Img {
        height: auto !important;
        aspect-ratio: 16 / 9 !important;
    }
    .Card {
        height: auto;
        min-height: auto;
        max-height: auto;
    }
    .Desc {
        height: auto !important;
        margin-bottom: 6px;
    }
    .DescCard {
        height: auto !important;
        min-height: auto !important;
        max-height: auto !important;
        aspect-ratio: 16 / 8 !important;
    }
    .PerfilImage {
        height: 120px !important;
        width: 120px !important;
        border-radius: 100% !important;
        padding: 6px !important;
        bottom: calc(50% - 60px) !important;
        left: calc(50% - 60px) !important;

        .imgPerfilImage {
            border-radius: 100% !important;
        }
    }
}