* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    background-color: #151515;

    .b {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        min-width: 35px;
        max-width: 350px;
        width: 100%;
        height: 35px;
        padding: 7px 12px;
        gap: 10px;
        border-radius: 10px;
        transition: 0.3s;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #C5C5C5;
        font-size: 15px;
        font-weight: 500;
        border: 1px solid #393939;
        position: relative;
        cursor: pointer;

        &:hover { background-color: #242424; color: #D9D9D9; }
        &.selecionado { background-color: #8A55CD; border: none; }
        &.monstrando { background-color: #7D4CBB; border: none; }
    }
}



.cor1 {
    background-color: #1F1F1F;
    &.selecionado { background-color: #8A55CD; }
}
.cor2 {
    background-color: #242424;
    &.selecionado { background-color: #7D4CBB; }
}
.cor3 {
    background-color: #313131;
    &.selecionado { background-color: #8A55CD; }
}
.cor4 {
    background-color: #8A55CD;
}
.border {
    border: 1px solid #2e2e2e;
    .selecionado { border: 1px solid #43c13c; }
}



h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #DADADA;
    font-size: 15px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #C5C5C5;
    font-size: 15px;
    font-weight: 500;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #898989;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
}
img {
    height: 100%;
    &.fundo { width: 100%; border-radius: 10px;}
}




::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
  
::-webkit-scrollbar-track {
    width: 0px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb { 
    width: 0px;
    background-color: transparent;
}



.linha {
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(44, 44, 44);
}

.deg90 {
    transform: rotate(90deg);
}

.deg180 {
    transform: rotate(180deg);
}










.Card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc((100% / 3) - 8px);
    min-height: 280px;
    border-radius: 10px;
    padding: 12px 12px 0px 12px;
    gap: 12px;
    &:hover > .Desc > .DescCard { min-height: 162px; max-height: 162px;}
    &.min {width: calc(100% / 4);}

    .Title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 35px;
        max-height: 35px;
        border-radius: 10px;
        padding: 12px;
    }
    .Desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 219px;
        gap: 12px;
        overflow: hidden;
        transition: 0.3s;

        .DescCard {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            min-height: 200px;
            max-height: 200px;
            padding: 12px 12px 12px 17px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: relative;
            transition: 0.3s;
        }
        button {
            max-width: 100%;
        }
    }
}
.InfoFundo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    border-radius: 10px;
}






.SectionButtons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 35px;
    gap: 12px;
    margin-top: 36px;
}
.SectionCards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px 0px;
    gap: 12px;
}