* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    background-color: #151515;

    .b {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        min-width: 35px;
        max-width: calc((100% - 36px) / 4);
        width: 100%;
        height: 35px;
        padding: 7px 12px;
        gap: 10px;
        border-radius: 10px;
        transition: 0.3s;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #898989;
        font-size: 15px;
        font-weight: 500;
        line-height: 19px;
        border: 1px solid #39393972;
        position: relative;
        > img {opacity: 0.7;}
        cursor: pointer;

        &.cem { min-width:none; max-width: none;}
        &.min { width: auto;}
        &.mostrando { background-color: #7D4CBB; border: none; }
        &:hover { 
            background-color: #242424; 
            color: #D9D9D9; 
            > img {opacity: 1;}
        }
        &.selecionado { 
            background-color: #8A55CD; 
            border: none; 
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #C5C5C5;
            font-size: 15px;
            font-weight: 500;
            > img {opacity: 1;}
        }
        &.h4 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #898989;
            font-size: 15px;
            font-weight: 450;
            line-height: 19px;
        }
        &.green {
            background-color: #43c13c;
            color: #e0e0e0;
        }
        &.red {
            background-color: #c13c3c;
            color: #e0e0e0;
        }
    }
}



.cor1 {
    background-color: #1F1F1F;
    &.selecionado { background-color: #8A55CD; }
}
.cor2 {
    background-color: #242424;
    &.selecionado { background-color: #7D4CBB; }
}
.cor3 {
    background-color: #313131;
    &.selecionado { background-color: #8A55CD; }
}
.cor4 {
    background-color: #8A55CD;
}
.border {
    border: 1px solid #2c2c2c74;
    .selecionado { border: 1px solid #43c13c; }
}
.border2 {
    border: solid 2px rgba(56, 56, 56, 0.233);
}



h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #DADADA;
    font-size: 15px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #C5C5C5;
    font-size: 15px;
    font-weight: 600;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #898989;
    font-size: 15px;
    font-weight: 450;
    line-height: 19px;
}
img {
    height: 100%;
    transition: 0.3s;
    &.fundo { min-height: 100%; width: 100%; border-radius: 10px;}
    &.meio { position: absolute;}
    &.icon { max-width: 35px; max-height: 35px; &:hover {transform: scale(1.1);} cursor: pointer;}
    &.vinte {height: 20%; &:hover {transform: scale(1.1);} cursor: pointer;}
}
video {
    height: 100%;
}
textarea {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    resize: none;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #898989;
    font-size: 15px;
    font-weight: 450;
    line-height: 19px;
    outline: none;
    border-radius: 10px;
}
input {
    width: 100%;
    min-height: 35px;
    max-height: 35px;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #898989;
    font-size: 15px;
    font-weight: 450;
    line-height: 19px;
    outline: none;
    border-radius: 10px;
}




::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
  
::-webkit-scrollbar-track {
    width: 0px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb { 
    width: 0px;
    background-color: transparent;
}



.linha {
    width: 5px;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(44, 44, 44);
}

.deg90 {
    transform: rotate(90deg);
}

.deg180 {
    transform: rotate(180deg);
}
.null {
    opacity: 0;
}









.Card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: calc((100% / 3) - 8px);
    max-width: calc((100% / 3) - 8px);
    min-height: 300px;
    border-radius: 10px;
    padding: 12px 12px 0px 12px;
    position: relative;
    gap: 12px;
    &:hover > .Desc > .DescCard { min-height: 182px; max-height: 182px;}
    &:hover > .Img > .Escuro > h3 {bottom: 6px;}
    &.min {min-width: calc((100% - 36px) / 4); max-width: calc((100% - 36px) / 4);}
    &.cem {max-width: none; min-width: none; width: 100%;}
    &.normalPadding {padding: 12px;}
    &:hover > button{opacity: 1;}

    .Desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 240px;
        gap: 12px;
        overflow: hidden;
        transition: 0.3s;

    }
    .Img {
        display: flex;
        width: 100%;
        height: 254px;
        border-radius: 10px;
        position: relative;

        .Escuro {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.241);
            padding: 12px;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;

            > h3 {
                position: absolute; 
                padding: 7px 12px;
                border-radius: 10px;
                left: 12px;
                bottom: -22px;
                background-color: #242424;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }
}
.InfoFundo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.Title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 35px;
    max-height: 35px;
    border-radius: 10px;
    padding: 12px;
}
.DescCard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    padding: 12px 12px 12px 17px;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    overflow: auto;
    &.fix { min-height: 208px; max-height: 208px;}
}





.SectionButtons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 35px;
    gap: 12px;
}
.SectionCards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px 0px;
    gap: 12px;
}










.FundoEscuro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.473);
    z-index: 5;
    gap: 12px;

    .EnviarRespostas {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: calc((100% - 388px) / 3);
        max-width: calc((100% - 388px) / 3);
        padding: 12px;
        border-radius: 10px;
        gap: 12px;
    }

    .AddCard {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: calc((100% - 388px) / 3);
        max-width: calc((100% - 388px) / 3);
        padding: 12px;
        gap: 12px;
        border-radius: 10px;

        .AddImage {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 260px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
        }
    }
}