.BarraLateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 380px;
    height: 100vh;
    gap: 12px;
    padding: 15px;

    position: fixed;
    top: 0;
    left: 0;

    .ButtonSections {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        border-radius: 10px;
    }

    .Atividades {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        .CardAtividades {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            border-radius: 10px; 
            button { 
                border-radius: 0px ;

                .bolinha {
                    width: 12px;
                    height: 12px;
                    border: 2px rgb(216, 216, 216) solid;
                    border-radius: 100%;
                    &.preenchido { background-color: rgb(216, 216, 216);}
                }
            }
        }
    }
}