.BarraLateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 380px;
    height: 100vh;
    gap: 12px;
    padding: 15px;

    position: fixed;
    top: 0;
    left: 0;
}