.Cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 300px;
    margin-top: 32px;

    .Buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 35px;
        gap: 12px;
    }
    .Conteudo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 12px;
        padding: 12px 0px;

        .red {
            width: 30px;
            height: 30px;
            background-color: red;
        }
    }
}